<header class="bg-indigo-800 p-4">
    <div class="mx-auto flex justify-between items-center flex-wrap h-20">
        <a href="/api/products"><img src="/static/logo/logo2.png" alt="Logo del comercio"  class="h-20"></a>
    </div>
</header>

<main>
    <div class="flex flex-col">
        <h3 class="text-4xl text-center font-semibold my-5">{{nombrePagina}}</h3>
        <a href="/api/products" class="text-lg text-center text-indigo-800 underline my-5">Volver a inicio</a>
    </div>
</main>